#ai-relatory {
    position: absolute;
    height: 100vh;
    width: 0;
    background: #fff;
    border-left: 1px solid #acacac;
    z-index: 12;
    margin: 0;
    right: 0;
    transition: 0.5s all;
    overflow-x: hidden;
    overflow-y: scroll;
}

.relatory-open {
    width: 35vw !important;
}

.relatory-closed {
    width: 0 !important;
}

#ai-relatory main {
    padding: 8px 12px;
    text-align: start;
}

@media (max-width: 865px) {
    .relatory-open {
        width: 100vw !important;
    }
}